asgiref==3.8.1
attrs==25.3.0
cffi==1.17.1
cloudinary==1.33.0
python-decouple==3.8
python-dotenv==1.0.0
django-cloudinary-storage==0.3.0
cryptography==44.0.2
dj-database-url==2.3.0
Django==5.1.7
django-allauth==65.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
redis==5.2.1
sendgrid-django==4.2.0
whitenoise==6.9.0
sqlparse==0.5.3
six==1.17.0
tzdata==2025.2
